@import "tailwindcss";

@theme {
  --breakpoint-4xl: 1490px;
  --breakpoint-3xl: 1440px;
  --breakpoint-xl: 840px
}

* {
  font-family: var(--font-host-grotesk);
  scrollbar-width: none;
  letter-spacing: -.04em;
  line-height: 107%;
  font-weight: 300;
  scroll-behavior: smooth;
  box-sizing: border-box;
}